<html>
    <head>
        <%- include("../Partial/boot.ejs")%>
        <style>
            .form-group{
                color:blue;
            }
            
            .form-style{
                background: var(--light);
                height: 700px;
                margin: 20px;
                padding: 30px;
                border-radius: 20px;
                font-family: var(--lato);
                position: sticky;
            }

        </style>
    </head>
    <body>
        <%- include("../Partial/admin_nav")%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="form-style">
        <form action="/product/add-product" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <div class="label"> <label for="">Category</label></div>
                <select name="category_id">
                    <option>Choose Category</option>
                    <%
                        for(category of categoryList){
                            %>
                            <option value="<%=category.id%>"><%=category.name%></option>
                        <%
                        }
                        %>
                    
                </select>
            </div>
            <div class="form-group" >
               <div class="label"> <label for="">Name</label></div>
               <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <div class="label"> <label for="">Price</label></div>
                <input type="text" class="form-control" name="price" placeholder="ENTER THE PRICE">
             </div>
             
             <div class="form-group">
                <div class="label"> <label for="">Description</label></div>
               <textarea class="form-control" name="description"></textarea>
             </div>
             <div class="form-group">
                <div class="label"> <label for="">Qty</label></div>
                <input type="text" class="form-control" name="qty">
             </div>
             <div class="form-group">
                <div class="label"> <label for="">Image</label></div>
                <input type="file" name="images" multiple/>
             </div>
             
             <button class="btn btn-primary">Add</button>
             <button class="btn btn-danger">cancel</button>
        </form>
    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>