<html>
    <head>
        <%-include("../Partial/bootstrap.ejs")%>
    </head>
    <body>
        <%- include("admin-nav.ejs")%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 m-auto">
                    <form action="/category/add-category" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Category Name</label>
                            <input type="text" name="categoryName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Image : </label>
                            <input type="file" name="categoryImage">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Add</button>
                            <button class="btn btn-dark">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </body>
</html>