<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/category/add-category">ADD CATAGORY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product/add-product">ADD PRODUCT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product/view-product">VIEW PRODUCT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product/feedback">FEEDBACK</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product/query">QUERY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/product/signout">SIGN OUT</a>
    </li>
  </ul>
</nav>