<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/admin_bootstrap.ejs')%>
    <link rel="stylesheet" href="/Css/style.css" />

    <title></title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/admin/loginPost" method="post">
        <h3>Login Here</h3>

        <label for="">Email</label>
        <input type="email" placeholder="Email or Phone" name="adminname" id="adminname"/>

        <label for="">Password</label>
        <input type="password" placeholder="Password" name="password" id="password"/>

        <button type='submit'>Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
</html>
