<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <!-- Boxicons -->
       <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
       <!-- My CSS -->
       <link rel="stylesheet" href="style.css">

       <title>Add product</title>
</head>

<body>


       <!-- SIDEBAR -->
       <section id="sidebar">
              <a href="#" class="brand">
                     <i class='bx bxs-smile'></i>
                     <span class="text">ADD CATEGORY
                     </span>
              </a>
              <ul class="side-menu top">
                     <li class="active">
                            <a href="#">
                                   <i class='bx bxs-dashboard'></i>
                                   <span class="text">EDIT CATEGORY</span>
                            </a>
                     </li>
                     <li>
                            <a href="#">
                                   <i class='bx bxs-shopping-bag-alt'></i>
                                   <span class="text">DELETE CATEGORY</span>
                            </a>
                     </li>

                     <li>
                            <a href="#">
                                   <i class='bx bx-left-arrow-alt'></i>
                                   <span class="text">BACK</span>
                            </a>
                     </li>


                  

                     <script src="script.js"></script>
</body>

</html>