<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 th {
  /*border: 1px solid #000000;*/
  text-align: CENTRE;
  padding: 22px;
  background-color: rgb(241, 177, 182);
  text-decoration: underline;
  border-radius: 15px;

}
td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;  
    background-color: rgb(245, 233, 233);
    /* border: 1px solid #000000;  */
    border-radius: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
  border-radius: 15px;
  
}

h2{
  padding-bottom: 20px;
  text-decoration: underline;
 
}

</style>
</head>
<body>

<h2>USERS QUERIES</h2>

<table>
  <tr>
    <th>USER ID</th>
    <th>USER NAME</th>
    <th>PRODUCT NAME</th>
    <th>QUERY</th>
    <th>REPLY</th>
</tr>
  <tr>
    <td>234</td>
    <td>Sapna Prajapat</td>
    <td>Lipstick</td>
    <td>how many colors are present</td>
  </tr>
  
</table>

</body>
</html>