<style>
       .container-fluid{
         background-color: aliceblue;
       }
     </style>
     <nav class="navbar navbar-default" role ="navigation">
       <div class = "container-fluid">
            <ul class="nav navbar-nav">
            <li>
                <a  href="/">HOME</a>
              </li>
              <li>
                <a href="/about">ABOUT US</a>
              </li>
              <li>
                <a href="/login">login</a>
              </li>
              <li >
                <a href="/services">SERVICES</a>
              </li>
            </ul>
           </div>
          </nav>