<nav class="navbar">
    <a href="/">home</a>
    <a href="/feature">features</a>
    <a href="/product">products</a>
    <a href="/categories">categories</a>
    <a href="/reviews">review</a>
</nav>
